#API
PORT=4000
GLOBAL_PREFIX=api
ADMIN_SALT_ROUND=10
FRIEND_FRONT_URLS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003,http://localhost:4000,https://next-films.ru,https://servernextfilms.hub-net.org,http://downloadservices.next-films.ru/api
ADMIN_EMAIL=email@mail.ru
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin123456&
ADMIN_TG_ID=531234343
ADMIN_TG_USERNAME=username
ADMIN_ACCESS_JWT_SECRET=ADMIN_ACCESS_JWT_SECRET
ADMIN_REFRESH_JWT_SECRET=ADMIN_REFRESH_JWT_SECRET
EXTERNAL_ACCESS_JWT_SECRET=EXTERNAL_ACCESS_JWT_SECRET
EXTERNAL_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiRG93bmxvYWQtc2VydmljZSIsImlhdCI6MTc0OTc0OTE1NCwiZXhwIjo5NjM1Nzc0OTE1NH0
# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiRG93bmxvYWQtc2VydmljZSIsImlhdCI6MTc0OTc0OTE1NCwiZXhwIjo5NjM1Nzc0OTE1NH0.WnFLnsRT917W9KkxCPsDvtm6qu69SRu48WeVrbrGO2Y
DOWNLOAD_SERVICE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiRG93bmxvYWQtc2VydmljZSIsImlhdCI6MTc0OTc0OTE1NCwiZXhwIjo5NjM1Nzc0OTE1NH0.WnFLnsRT917W9KkxCPsDvtm6qu69SRu48WeVrbrGO2Y
EXTERNAL_TOKEN_NAME=Download-service
RMQ_URI=amqps://skwpkkbq:J7E29X0PPJQe8g1i33j4HsCpj5y_LCv8@cow.rmq2.cloudamqp.com/skwpkkbq
DOWNLOAD_SERVICE_RMQ_QUEUE_NAME=download_service_queue
DOWNLOAD_SERVICE_HTTP_URL=https://downloadservices.next-films.ru/api
CINEMA_SERVICE_RMQ_QUEUE_NAME=cinema_service_queue
KINOPOISK_API_URL=https://api.kinopoisk.dev/v1.4
KINOPOISK_API_TOKEN=2NT231T-XW34MD7-QNBJ6K2-CC7WZQ1
TELEGRAM_ADMIN_BOT_TOKEN=8050013385:AAE8qmgrZuwOWtFe3xCPfOE3JfQzBq2Ndro
MAIN_TELEGRAM_GROUP_CHAT_ID=-1001998025247
NEW_FILM_TELEGRAM_THREAD_ID=321

#Bussines rules
ADMIN_ACCESS_JWT_EXPIRED_TIME=1h
ADMIN_REFRESH_JWT_EXPIRED_TIME=10h
ADMIN_HASH_SALT_ROUND=10
MODERATION_MOVIE_FRONT_URL=https://localhost.com
IS_RMQ_ENABLE=false

#Database
POSTGRES_URL=postgresql://gen_user:t4AiPcioIoll%2FM@185.154.193.41:5432/default_db
POSTGRES_HOST=localhost
POSTGRES_DB=next_films
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sa
POSTGRES_PORT=5432
SYNCHRONIZE_DB=true
LOGGING_DB=true

#ENV
ENV=STAGING

#Logger
LOGGER_HOST=localhost:4000
LOGGING=true

#Swagger
SWAGGER_USER=admin
SWAGGER_PASSWORD=admin
SWAGGER_PATH=swagger
SWAGGER_SERVERS_URLS=https://servernextfilms.hub-net.org